
h3{
    display: flex;
    align-items: flex-start;
    box-sizing: border-box;
    padding: 1%;
    
    
 
}
body{
    background-color:#fae2e2;
}
.input-group{
    display: flex;
    align-items: flex-start;
    box-sizing: border-box;
    
}
.cards{
    
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    box-sizing: border-box; 
    margin-right: 4%;
     
}

.eachcard{
    display: inline-block !important;
    margin: 1.5% !important;
    width: 300px !important;
    
}

