h3 {
  display: flex;
  align-items: flex-start;
  box-sizing: border-box;
  padding: 1%;
}
body {
  background-color: #fae2e2;
}
.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  box-sizing: border-box;
  margin-right: 4%;
}
.btnsinfo{
    margin: 10%;
}
.insideprodicon{
    position: relative;
    height: 50vh;
    width: 90vh;
    border-radius: 40px;
    background-color: red;
    
}

.post{
    position: absolute;
    bottom: 0%;
    font-weight: 600;
    font-size: 2vw;
    left: 7%;
    color: rgb(248, 248, 248);
}
.heart{
    position: absolute;
    bottom: 1%;
    font-weight: 600;
    font-size: 2vw;
    left: 70%;
    color: rgb(248, 248, 248);

}
.share{
    position: absolute;
    bottom: 1%;
    font-weight: 600;
    font-size: 2vw;
    left: 55%;
    color: rgb(248, 248, 248);
}
.share:hover,.heart:hover {
    box-shadow: 0 12px 16px 0 rgba(10, 214, 10, 0.24),0 17px 50px 0 rgba(0,0,0,0.19);
  }

.eachcard {
  display: inline-block !important;
  margin: 1.5% !important;
  width: 300px !important;
}
